body {
  background: pink;
  text-align: center;
}

.card {
  margin: 1px;
  padding: 0px;
  background: white;
  width: 50px;
  text-align: left;
  border-radius: 8px;
  display: inline-block;
}

.suit {
  margin: 5px;
  font-size: 20px;
}

.name {
  margin: 5px;
  font-size: 24px;
  font-weight: bold;
  font-family: sans-serif;
}

.red {
  color: red;
}

.black {
  color: black;
}

.gameInfo {
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  width: 50%;
}

.player-1-hand {
  display: inline-block;
  margin: 20px 20px 20px 20px;
}

.player-2-hand {
  display: inline-block;
  margin: 20px 20px 20px 20px;
}

.card-container {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  width: 50%;
}
